.after-style{
    content: '';
    width: 15rem;
    height: 15rem;
    background-color: $color-secondary;
    position: absolute;
    left: -5%;
    top: -30px;
    border-radius: 50%;
    z-index: -1;
    display: inline-block;
}

.experience{
    grid-column: center-start / center-end;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(6, minmax(min-content, 1fr));
    grid-template-rows: repeat(4, min-content);

    .heading-2{
        grid-column: 1 / -1;
        justify-self: center;
    }

    &__content {
        background: #fff;
        padding: 4rem;
        grid-column: 1 / -1;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
        gap: 3rem;
        
        .heading-3{
            grid-column: 1 / -1;   
        }

        @media only screen and (max-width: $bp-large){
            padding: 4rem 2rem;
        }
    }

    &__project {
        font-size: 1.6rem;
        box-shadow: 0 1.5rem 3rem $color-grey-light-2;
        padding: 1.5rem 3rem;
        display: grid;
        grid-template-rows: minmax(3rem, max-content) 1fr minmax(3rem, max-content);
        row-gap: 2rem;
        position: relative;
        background: $color-secondary-dark;
        background-image: linear-gradient(to bottom right, $color-secondary-dark, #0c67c5, $color-secondary-dark, $color-secondary-dark, $color-secondary-dark);
        background-attachment: fixed;
        overflow: hidden;
        color: $color-white;

        .color-1::after{
            @extend .after-style;
            background: $color-random-1;
        }
        .color-2::after{
            @extend .after-style;
            background: $color-random-2;
        }
        .color-3::after{
            @extend .after-style;
            background: $color-random-3;
        }
        .color-4::after{
            @extend .after-style;
            background: $color-random-4;
        }
        .color-5::after{
            @extend .after-style;
            background: $color-random-5;
        }
    }

    .project{
        &__heading{
            grid-column: 1 / -1;
            font-weight: 600;
            z-index: 10          
        }

        &__description{
            z-index: 10;
        }

        &__techstack{
            list-style: none;
            display: flex;
            flex-wrap: wrap;
        }

        &__techstack>li{
            grid-row: 3;
            position: relative;
            font-weight: 600;
            margin-right: 2rem;
            // &:not(:first-child){
            //     margin-left: 2rem;
            // }

            &:not(:last-child)::after{
                content: "|";
                margin-left: 1.3rem;
            }
        }
    }

    .downloadcv {
        font-size: 2rem;
        margin-top: 4rem;
        grid-column: 1 / -1;

        a{
            text-decoration: none;
            color: $color-secondary;
            transition: all .5s;

            &:hover{
                letter-spacing: .1rem;
            }
        }

        @media only screen and (max-width: $bp-large){
            padding: 0 2rem;
        }
    }
}