.footer{
    grid-column: center-start / center-end;
    padding: 4rem 0;
    margin: 2rem 0;

    display: grid;
    grid-template-columns: minmax(20rem, max-content) repeat(6, 1fr) minmax(15rem, max-content);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 2rem;

    @media only screen and (max-width: $bp-large){
        padding: 4rem 2rem;
        row-gap: 0;
    }
    
    .contact{

        &__mail{
            grid-column: 1 / span 2;
            font-size: 1.8rem;
        }

        &__mobile{
            grid-column: 1 / span 2;
            font-size: 1.8rem;
        }

        &__list{
            grid-row: 1 / span 1;
            grid-column: -2 / span 1;            
            column-gap: 2rem;
            justify-self: end;
        }
    }

    &__lastupdate{
        grid-column: -3 / span 2;
        text-align: right;
        font-size: 1.4rem;

        span{
            font-weight: 600;
        }
    }
}