.header{
    grid-column: full-start / full-end;
    display: grid;
    grid-template-columns: [full-start] 1fr [center-start] repeat(6, [col-start] minmax(min-content, 18.6rem) [col-end]) [center-end] 1fr [full-end];
    position: sticky;
    top: 0;
    background-color: $color-grey-light-1;
    z-index: 101;

    @media only screen and (max-width: $bp-large){
        padding: 0 2rem;
    }
}

.nav{
    grid-column: col-start 2 / span 3;
    background: linear-gradient(to top, $color-primary, $color-primary-dark);
    margin: .5rem 0;
    border-radius: 100px;

    &__menu{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        height: 100%;
        font-size: 1.6rem;
        color: $color-grey-light-1;

        @media only screen and (max-width: $bp-small){
            grid-template-rows: repeat(auto-fill, minmax(min-content, 1fr));
        }
    }

    &__menu-item{
        display: inline-block;
        text-align: center;
        position: relative;

        a{
            text-decoration: none;
            color: currentColor;
        }

        a:active{
            transform: translateY(5rem);
        }

        &--active::after{
            content: '';
            width: 1.8rem;
            height: 1.5rem;
            background: #fff;
            position: absolute;
            bottom: 0;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 9rem 0rem 8rem 5rem; //2rem 0 0 0
            z-index: 1;
            margin-top: 5px;
        }

        &--active::before{
            content: '';
            display: inline-block;
            width: .6rem;
            height: .6rem;
            background: $color-secondary;
            position: absolute;
            z-index: 10;
            bottom: 0;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 50%;
            margin: 1rem 0 0 .1rem;
        }
    }

    @media only screen and (max-width: $bp-small){
        // grid-column: col-start 1 / col-start-6;
        display: none;
    }
}

.photo{
    grid-column: center-start / span 1;
    grid-row: 1 / span 1;
    height: 5rem;
    align-self: center;

    &__img{
        height: 100%;
        border-radius: 50%;
    }
}